body {
    background-color: rgb(11, 11, 112);
}

#main-header {
    text-align: center;
}

#input-area {
    text-align: center;
}

#add-task-button {
    text-align: center;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the parent has a height for vertical centering */
}
