body {
    background-color: rgb(2, 2, 24);
}

#main-header {
    color: white;
    text-align: center;
}

#input-area {
    text-align: center;
}

#add-task-button {
    text-align: center;
}

#todo-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 100vh; /* Ensure the parent has a height for vertical centering */
}
